.input-div {
    width: 28%;
    display: flex;
    flex-direction: column;
}
.input-label {
    color: hsl(0, 1%, 44%);
    font-size: 12px;
    letter-spacing: 2px;
}
.input-entry {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 5px;
    border: solid 1px hsl(0, 0%, 86%);
    border-radius: 8px;
    outline: none;
    caret-color: hsl(259, 100%, 65%);
}
.label-error {
    color: hsl(0, 100%, 67%);
}
.input-error {
    border: solid 1px hsl(0, 100%, 67%);
}
.text-error {
    font-style: italic;
    font-size: 8px;
    color: hsl(0, 100%, 67%);
}

@media only screen and (min-width: 768px) {
    .input-div {
        width: 22%;
        margin-right: 30px;
    }
    .input-label, .text-error {
        font-size: 12px;
    }
    .input-entry {
        font-size: 28px;
    }
    .input-entry:hover {
        border: solid 1px hsl(259, 100%, 65%);
    }
}